<!-- Services -->
  <section class="page-section" id="{{ site.data.sitetext[site.locale].services.section | default: "services" }}">
    <div class="container">
	
      <!-- <div class="row">
        <div class="col-lg-12 text-center"> 
          <h2 class="section-heading text-uppercase">{{ site.data.sitetext[site.locale].services.title1 | default: "Services1" }}</h2>
          {% if site.data.sitetext[site.locale].services.text %}
		  <h3 class="section-subheading text-muted">{{ site.data.sitetext[site.locale].services.text }}</h3>
		  {% endif %}
        </div> -->
      

      <!-- Services updated section sapience-->

      <style>
        div.row1{
          color: #7b7b7b;
        }
      </style>
      
      <div class="row1">
        <div class="col-lg-12 text-left">
          <h2 class="section-heading text-uppercase">{{ site.data.sitetext[site.locale].services.title1 | default: "Services1" }}</h2>
          {% if site.data.sitetext[site.locale].services.text %}
		  {% endif %}
        </div>
      </div>


      <style>
        div.row2{
          color:#6aa84f;
        }
      </style>
      <div class="row2">
        <div class="col-lg-12 text-right">
          <h2 class="section-heading text-uppercase">{{ site.data.sitetext[site.locale].services.title2 | default: "Services2" }}</h2>
          {% if site.data.sitetext[site.locale].services.text %}
		  {% endif %}
        </div>
      </div>

    </div>


      <!-- Code for box sapience-->
      <style>
        div.space{
          width: auto;
          height: 50px;
          margin: auto;
          // border: 3px solid #000000;
        }
      </style>
      <div class="space"></div>
      
      <!-- Code for box sapience-->

       <!-- Services updated section sapience-->
	  
      <!-- <div class="row text-center">
	  {% for service in site.data.sitetext[site.locale].services.list %}
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="{{ service.icon | default: "fas fa-shopping-cart" }} fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading">{{ service.title | markdownify }}</h4>
          {% if service.desc %}<div class="text-muted">{{ service.desc | markdownify }}</div>{% endif %}
        </div>
	  {% endfor %}
      </div> -->
	  <!-- Code for image services sapience-->
    <div class="row text-center">
      {% for service in site.data.sitetext[site.locale].services.list %}
          <div class="col-md-4">
            <span class="img">
              <img class="{{ service.img }}">
              <img src="{{ service.img }}" width="150" height="150">
            </span>
            <h4 class="service-heading">{{ service.title | markdownify }}</h4>
          </div>
      {% endfor %}
        </div>
    




    <!-- Code for image services sapience-->
    </div>
  </section>
<!-- End Services -->